{% extends 'base.html.twig' %}

{% block title %}Formule{% endblock %}
 
{% block body %}
{% block FormPage %}
  <div id="container" class='crud-container crud-formule justify-content-center' " > 
    <h1>Formule</h1>
 
    <table class="table">  
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formule.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ formule.Titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ formule.Description }}</td>
            </tr>
            <tr>
                <th>Plats</th>
                <td>{{ formule.Plats ? formule.Plats|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ formule.Prix }}</td>
            </tr>
            <tr>
                <th>Menu</th>
                <td>{{ formule.Menu }}</td>
            </tr>
            <tr>
                <th>DateApplication</th>
                <td>{{ formule.DateApplication }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestion_formules') }}">Back to list</a>

    <a href="{{ path('app_crud_formule_edit', {'id': formule.id}) }}">Edit</a>

    {{ include('/AdminTemplate/Crud/crud_formule/_delete_form.html.twig') }}
</div>
{% endblock %}
</div>
{% endblock %}
